<!DOCTYPE html>
<html lang="pt-br">

<head>
	<title>My first HTML</title>
	<meta charset="Content-Type: text/html; charset=utf-8"></meta>
</head>

<body style="background-color:LightSeaGreen;">

<h1>1 My first Heading</h1>
<p title="I'm a Title">1 My first paragraph</p>
<hr>
<h2 style="font-size:60px;">2 My second Heading</h2>
<p>2 My second paragraph</p>
<hr>
<h3>3 My first Heading</h3>
<p title="I'm a nothing hihihi"style="color: green">3 My poem below:</p>
<pre>
Vou me embora para pas‡rgada,
L‡ sou amigo do rei,
L‡ tenho a mulher que quero,
Na cama que escolherei!
</pre>

<h4 style="color: red">4 My first Heading</h4>
<p>This is a paragraph<br>with<br>line breaks</p>

<a href="https://facebook.com/dry.marttini"> My facebook page!</a>
<br>
<br>
<img src="https://scontent.fbsb8-2.fna.fbcdn.net/v/t1.0-1/p320x320/22049786_10208179274237820_2758000937419480320_n.jpg?oh=73ed79ba2fa3665f75dacf763f45f22e&amp;oe=5A826887" alt="https://facebook.com/dry.marttini">


</body>
</html>
